{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1 class="text-center">Zha Store Bienvenue</h1>
    <img src="https://img.freepik.com/photos-gratuite/vie-fabuleuse-du-shopping-ligne-pour-femmes_53876-125599.jpg?w=1380&t=st=1675847499~exp=1675848099~hmac=3daad719782eaad61ff8c00ea3ad9e7a562aa1a2624c8e3970de7717cf2e0d17" alt="">
{% endblock %}
