{% extends 'base.html.twig' %}

{% block title %} Zha Store : Acces denied{% endblock %}

{% block body %}
    <h1 class="text-center textt-white bg-danger">
        accés interdit à cette fonctionnalité
    </h1>
{% endblock %}
